API_PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://hkbp:hkbp@localhost:5432/hkbp_platform?schema=public
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
PUBLIC_BASE_URL=http://localhost:4000
STORAGE_DRIVER=local
LOCAL_UPLOAD_DIR=uploads
NEXT_PUBLIC_API_URL=http://localhost:4000
